.search-group {
    position: relative;
}
.search-group input {
    border: 1px solid #666666;
    color: #666666;
    width: 100%;
}
.search-group button {
    position: absolute;
    right: 0;
    padding: 21px;
    border: none;
    cursor: pointer;
}
.search-group button.search-btn {
    background: url('assets/magnifying-glass.svg') no-repeat center center;
}
.search-group button.clear-btn {
    background: url('assets/cross.svg') no-repeat center center;
}
.search-group button:hover,
.search-group button:focus,
.search-group button:active {
   border: none;
   outline: none;
}

.search-results .search-result {
    border: 1px solid #aaa;
    padding: 15px 10px;
    margin: 15px 0px;
}